.features {
        padding: 120px 0;
}

.features-list {
        display: flex;
        gap: 24px;
}

.features-item {
        width: calc((100% - 72px) / 4);
}

.features-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        background: #f4f4fd;
}

.features-title {
        margin-bottom: 8px;
        color: #2e2f42;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
}

.features-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.features {
        padding: 96px 0;
}

.features-list {
        display: flex;
        flex-direction: column;
        gap: 72px;
}

.features-item {
        width: 100%;
}

.features-icon-wrapper {
        display: none;
}

.features-title {
        font-size: 20px;
}

@media only screen and (min-width: 768px) {
        .features-list {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 72px 24px;
        }

        .features-item {
                width: calc((100% - 24px) / 2);
        }
}

@media only screen and (min-width: 1158px) {
        .features {
                padding: 120px 0;
        }

        .features-list {
                flex-wrap: nowrap;
                gap: 24px;
        }

        .features-item {
                width: calc((100% - 72px) / 4);
        }

        .features-icon-wrapper {
                display: flex;
        }

        .features-title {
                font-weight: 500;
                text-align: left;
        }

        .features-text {
                font-weight: 400;
        }
}