.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    position: relative;
    width: 408px;
    min-height: 582px;
    padding: 72px 24px 24px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 24px;
    background-color: #e7e9fc;
    color: #2e2f42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
    border-color: #404bbf;
    background-color: #404bbf;
    color: #fff;
}

.modal-title {
    margin-bottom: 16px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.modal-label {
    display: block;
    margin-bottom: 4px;
    color: #8e8f99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
}

.modal-wrapper {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 8px 16px 8px 38px;
    box-sizing: border-box;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:active {
    border-color: #4d5ae5;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
    color: #4d5ae5;
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    color: #434455;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
    border-color: #4d5ae5;
}

.modal-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-field-comment {
    margin-bottom: 16px;
}

.modal-form-field-policy {
    margin-bottom: 24px;
}

.modal-form-link {
    color: #4d5ae5;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.modal-form-link:hover,
.modal-form-link:focus {
    color: #404bbf;
}

.modal-form-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 16px;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .modal-form-policy .modal-form-checkbox {
    border-color: transparent;
    background-color: #404bbf;
}

.checkbox:checked + .modal-form-policy .modal-form-checkbox-icon {
    opacity: 1;
}

.checkbox:focus-visible + .modal-form-policy .modal-form-checkbox {
    outline: 2px solid #2e2f42;
    outline-offset: 2px;
}

.modal-form-checkbox-icon {
    color: #f4f4fd;
    width: 10px;
    height: 8px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit {
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    border-color: transparent;
    border-radius: 4px;
    outline: none;
    background: #4d5ae5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
    background: #404bbf;
}

.modal-form-policy {
    display: inline-flex;
    align-items: center;
    color: #8e8f99;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal {
    width: min(100%, 408px);
    max-height: calc(100vh - 32px);
    overflow-y: auto;
}

@media only screen and (min-width: 768px) {
    .modal {
        max-height: calc(100vh - 48px);
    }
}